/* 清除浮动 */
.clearfix::after {
    content: '';
    display: inline-block;
    height: 0;
    clear: both;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 版心 */
.container {
    width: 1200px;
    margin: 0 auto;
}




/*1.================顶部=================*/
/*顶部外层容器*/
.topbar{
    height:28px;
    background-color: #101010;
}
/*顶部里层容器*/
.topbar .container{
    height:28px;
    
}
/*里面的p标签*/
.topbar .container p{
    height:28px;
    line-height: 28px;
    color:#f1f1f1;
}
/*第一个p标签*/
.topbar .container p:first-child{
   text-indent:210px ; 
}
/*第一个p标签下面的a标签*/
.topbar .container p:first-child a{
    color:#fff;
    text-decoration: none;
}
/*第二个p标签*/
.topbar .container p:nth-child(2){
  margin-right:10px;  
}
/*第二个p标签下面的标题和注册*/
.topbar .container p:nth-child(2) .title, .topbar .container p:nth-child(2) .register{
    color:#ff6700;
}
/*第二个p标签下面的登录*/
.topbar .container p:nth-child(2) .login{
  color:#fff;  
}
/*2. ==================导航==================*/
.nav{
    height:80px;
    background-color:#fff;
}
/*搜索框购物车订单大容器*/
.nav .search-shopcart-order{
    margin-top: 5px;
    height:35px;
}
/*搜索框*/
.nav .search-shopcart-order .search-input{
    width: 440px;
    height: 35px;
    background-color: #ff6700;
    margin-right: 38px;
    position: relative;
}
/*搜索框中的图标span*/
.nav .search-shopcart-order .search-input span{
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/bgicon.png');
}
/*搜索框*/
.nav .search-shopcart-order .search-input .search{
    width: 390px;
    height: 31px;
    border: 2px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}
/*购物车和订单*/
.nav .search-shopcart-order .shopcart-order{
    width: 200px;
    height: 35px;
    background-color: pink;
    font-size: 0;
}
/*购物车订单按钮*/
.nav .search-shopcart-order .shopcart-order button{
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #333;
}
/*购物车按钮*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1){
    background-color: #ff6700;
    color: #fff;
    background-image: url('../img/bgicon.png');
    background-position: -6px -44px;
    background-repeat: no-repeat;
   
}
/*分类导航*/
.nav .category-menu{
    margin-top: 15px;
    height:30px;
}
.nav .category-menu .left-logo{
    width: 200px;
    height: 30px;
    background-color;
    position: relative;
}
.nav .category-menu .left-logo img{
    position: absolute;
    bottom:0px;
    left:0px;

}
.nav .category-menu ul{
    width: 1000px;
    height: 30px;
}
.nav .category-menu ul li{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
/*11.=================尾部=================*/
.footer{
    height:470px;
}
.footer .logo-list{
    width: 100%;
    height: 90px;
    background-color: #f2f2f2;
}
.footer .logo-list .logo-wrap{
    width: 786px;
    height: 96px;
    margin: 0 auto;
}
.footer .logo-list .logo-wrap li{
    width: 132px;
    height: 50px;
    float: left;
    margin-top: 23px;
}
.footer .logo-list .logo-wrap li:not(:first-child){
margin-left: 86px;
}
.footer .footer-text{
    height: 374px;
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
}
.footer .footer-text img{
position: absolute;
right: 98px;
top: 62px;
}
.footer .footer-text ul{
    width: 695px;
    height: 132px;
    margin: 0 auto;
}
.footer .footer-text ul li{
    float: left;
    width: 139px;
    height: 132px;
    text-align: center;
}
.footer .footer-text ul li dl{
    line-height: 26px;
}
.footer .footer-text ul li dl dt{
    font-weight: 600;
    font-size: 16px;
}
.footer .footer-text p{
    text-align: center;
    margin-top: 45px;
}
